.c-swipeIn {
  position: fixed;
  right: 100%;
  top: 0;
  bottom: 0;
  width: min-content;
  z-index: 200;

  &.expanded {
    right: auto;
    &:not(.dragging) {
      left: 0 !important;
    }
  }

  &:not(.dragging) {
    transition: left 200ms ease-in-out;
  }
}
